@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body, .ant-typography {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

.ant-typography, .ant-typography p {
  margin-bottom: 0 !important;
  font-size: 16px;
}

.ant-typography a, a.ant-typography, a, a:hover, a:active, a:focus {
  color: rgb(var(--color-theme));
  text-decoration: underline;
}

.ant-typography u {
  text-decoration-color: rgb(var(--color-theme));
}

h4.ant-typography {
  font-size: 24px;
  font-weight: 700;
}

.selectedBtn {
  border: 2px solid rgb(var(--color-theme)) !important;
}

html {
  font-size: 16px;

  /* overflow-x: hidden; */
  /* width: 100vw; */
  /* overflow-y: scroll; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

/* body {
  overflow-x: hidden;
} */

/* Tokens */
:root {
  --color-midGrey: 224 224 224;
  --color-lightGrey: 245 245 245;
  --color-blue: 0 225 255;
  --color-yellow: 225 255 104;
  --color-theme: 62 177 200;
  --color-grey: 159 159 159;
  --color-primary: 44 46 53;
  /* Text, buttons, etc. */
  --color-contrast: 255 255 255;
  /* Backgrounds, borders, etc. */
  --color-accent: 62 177 200;
  /* Labels like "On sale" */
  --font-size-fine: 0.75rem;
  /* text-xs */
  --font-size-copy: 1rem;
  /* text-base */
  --font-size-lead: 1.125rem;
  /* text-lg */
  --font-size-heading: 2rem;
  /* text-2xl */
  --font-size-display: 3rem;
  /* text-4xl */
  --color-shop-pay: #3eb1c8;
  --shop-pay-button--width: 100%;
  /* Sets the width for the shop-pay-button web component */
  --height-nav: 4rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 640px) {
    --height-nav: 4rem;
  }

  @media (min-width: 768px) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem;
    /* text-4xl */
    --font-size-display: 3.75rem;
    /* text-6xl */
  }

  @supports (height: 100svh) {
    --screen-height: 100svh;
  }

  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 250 250 250;
    --color-contrast: 32 33 36;
    --color-accent: 235 86 40;
  }
} */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

.ant-btn:not(:disabled):focus-visible {
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
}

.ant-carousel .slick-slide img.block {
  display: block;
}

.ant-carousel .slick-slide img.hidden {
  display: none;
}

@media (min-width: 768px) {
  .ant-carousel .slick-slide img.hidden.md\:block {
    display: block;
  }

  .ant-carousel .slick-slide img.block.md\:hidden {
    display: none;
  }
}

@layer base {
  * {
    font-variant-ligatures: none;
  }

  body {
    @apply border-primary/10 bg-contrast text-primary/90 antialiased;
  }

  html {
    scroll-padding-top: 10rem;
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  a.active {
    @apply border-b;
  }

  .prose {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }
}

@layer components {
  .article {

    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans text-primary;
    }

    @apply prose mx-auto mb-12 grid justify-center font-serif text-primary;

    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }

    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }

      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid w-full snap-x snap-mandatory scroll-px-6 grid-flow-col justify-start gap-4 overflow-x-scroll px-6 pb-4;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
    }
  }

  .card-image {
    @apply relative flex items-center justify-center overflow-clip rounded;

    &::before {
      content: ' ';
      @apply absolute top-0 left-0 z-10 block h-full w-full rounded shadow-border;
    }

    img {
      @apply aspect-[inherit] w-full object-cover;
    }
  }
}

/* Custom CSS for antd */
.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:active,
.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover,
.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active,
.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover,
.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
.ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background-color: transparent !important;
}

.ant-menu-submenu i.ant-menu-submenu-arrow::before {
  content: url('/app/assets/arrow-closed.svg');
  transform: none;
  position: initial;
  background-color: transparent;
  border-radius: 0;
  transition: none;
  line-height: 1;
  height: 15px;
}

.ant-menu-submenu.ant-menu-submenu-open i.ant-menu-submenu-arrow::before {
  content: url('/app/assets/arrow-opened.svg');
  transform: none !important;
  position: initial;
  background-color: transparent;
  border-radius: 0;
  transition: none;
  line-height: 1;
  height: 15px;
}

li.ant-menu-submenu,
li.ant-menu-item {
  margin-bottom: 15px !important;
}

i.ant-menu-submenu-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: none !important;
  transform: none;
  height: 40px;
}

.ant-menu .ant-menu-submenu-open.ant-menu-submenu-inline>.ant-menu-submenu-title>.ant-menu-submenu-arrow {
  transform: translateY(-50%);
}

.ant-menu-submenu i.ant-menu-submenu-arrow::after,
.ant-menu-submenu.ant-menu-submenu-open i.ant-menu-submenu-arrow::after {
  content: none;
  transform: none !important;
  position: initial;
  background-color: transparent;
  border-radius: 0;
  transition: none;
}

.ant-menu .ant-menu-title-content {
  display: flex;
  flex-direction: column;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
}

ul.ant-menu-sub li.ant-menu-item {
  height: 20px;
  line-height: 1;
  /* padding-left: 20px !important; */
}

.ant-menu .ant-menu-submenu-arrow {
  width: 30px;
}

.ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content {
  overflow: visible !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  padding-left: 1rem !important;
}

.ant-menu.ant-menu-sub.ant-menu-inline .ant-menu-item.ant-menu-item-only-child {
  padding-left: 2rem !important;
}

.ant-carousel {
  margin-bottom: 80px;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: rgb(var(--color-theme));
}

.ant-carousel .slick-dots li {
  transition: none;
  flex: none;
}

.ant-carousel .slick-dots li.slick-active {
  width: 16px;
}

.ant-carousel .slick-dots li button::after {
  inset: 0;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev::after,
.ant-carousel .slick-next::after {
  width: 30px;
  height: 30px;
  transform: none;
  border: none;
  opacity: 1;
}

.ant-carousel .slick-prev {
  top: calc(100% + 10px);
  right: 90px;
  left: auto;
}

.ant-carousel .slick-next {
  top: calc(100% + 10px);
  right: 30px;
  left: auto;
}

.ant-carousel .slick-prev::after {
  content: url('/app/assets//arrow-left.svg');
}

.ant-carousel .slick-next::after {
  content: url('/app/assets//arrow-right.svg');
}

.ant-carousel .slick-slider,
.ant-carousel .slick-slider .slick-track,
.ant-carousel .slick-slider .slick-list {
  touch-action: pan-y pinch-zoom;
  -ms-touch-action: pan-y pinch-zoom;
  height: auto !important;
}

/* .ant-carousel .slick-slide {
  height: auto !important;
}

.ant-carousel .slick-slide > div {
  height: auto !important;
}

.ant-carousel .slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */

@keyframes ticker-cert {
  0% {
    transform: translateX(2rem);
  }

  100% {
    transform: translateX(-23rem);
  }
}

.ticker-div {
  animation: ticker-kf 20s linear infinite;
}

.ticker-div-rev {
  animation: ticker-rev 20s linear infinite;
}

.ticker-div-cert {
  animation: ticker-cert 10s linear infinite;
}

.ticker-div img, .ticker-div-rev img {
  width: 10rem;
  flex: none;
  /* padding: 0 1rem 0 1rem; */
  align-self: flex-start;
  max-width: 100%;
  height: auto;
}

.certTicker img {
  width: 5rem;
  flex: none;
  /* padding: 0 1rem 0 1rem; */
  align-self: flex-start;
  max-width: 100%;
  height: auto;
}

.ant-card .ant-card-cover>* {
  border-radius: 0;
}

.ant-card-cover {
  width: 100%;
  height: 100%;
}

.ant-card-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.flex-slide::-webkit-scrollbar {
  display: none;
}

.flex-slide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: rgb(var(--color-theme));
}

.ant-modal .ant-modal-content {
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.ant-image, .ant-image .ant-image-img {
  width: 100%;
  height: 100%;
}

.blogTitle {
  padding: 16px 0 0 0;
}

.techSlideModal.ant-modal .ant-modal-close {
  top: -20px;
}

.techSlideModal.ant-modal .ant-modal-close-x {
  font-size: 28px;
  border-color: #000;
  color: #000;
}

.ant-modal-root .ant-modal-mask {
  background-color: rgba(255, 255, 255, 0.32);
}

.faqAccordion .ant-collapse-header .ant-collapse-header-text {
  font-weight: 600;
}

.faqAccordion .ant-collapse-content.ant-collapse-content-active .ant-collapse-content-box {
  padding-top: 0;
}

.faqAccordion .ant-collapse-content.ant-collapse-content-active .ant-collapse-content-box p {
  border-top: 1px solid #E0E0E0;
  padding-top: 16px;
}

@media (max-width: 767px) {
  @keyframes ticker-kf {
    0% {
      transform: translateX(0);
    }

    100% {
      /* 10rem for each logo x 6 logos total = -60rem */
      transform: translateX(calc(-120rem + 100vw));
    }
  }

  @keyframes ticker-rev {
    0% {
      transform: translateX(calc(-120rem + 100vw));
    }

    100% {
      /* 10rem for each logo x 6 logos total = -60rem */
      transform: translateX(0);
    }
  }
}

@media (max-width: 1023px) {
  .mobile-border {
    border-bottom: 2px solid #fff;
  }

  .ant-carousel .slick-dots {
    display: none !important;
  }

  .ant-carousel .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  footer section button>h4 {
    max-width: 100% !important;
  }
}

/* Desktop */
.desktopHeaderNav a:hover {
  color: rgb(var(--color-contrast));
}

.desktopHeaderNav li.ant-menu-submenu.ant-menu-submenu-horizontal,
.desktopHeaderNav li.ant-menu-item.ant-menu-item-only-child {
  margin-top: 0;
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li.ant-menu-submenu::after,
li.ant-menu-item::after {
  text-decoration: none;
  border-bottom: none !important;
}

.ant-tabs-tabpane {
  display: flex;
}

.headerMenuSubmenu:hover {
  color: rgb(var(--color-theme)) !important;
}

.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul.ant-menu-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Ensure two distinct columns */
  align-items: flex-start;
  /* height: calc(248px + 10.75rem); */
  padding-bottom: 0 !important;
}

.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul .ant-menu-item {
  height: 28px;
  margin-bottom: 1rem !important;
}

.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul .ant-menu-item:nth-child(1),
.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul .ant-menu-item:nth-last-child(2) {
  height: 56px;
}

/* Group first 5 items into the left column */
.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul .ant-menu-item:nth-child(-n+5) {
  width: 30%;
  /* Left column */
}

.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul .ant-menu-item:nth-child(1)::before {
  content: "Catagory";
  color: rgb(var(--color-grey));
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 12px !important;
}

/* Group last 2 items into the right column */
.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul .ant-menu-item:nth-last-child(-n+2) {
  width: 30%;
  /* Right column */
  margin-left: 30% !important;
  /* Push to right */
  align-self: flex-start;
}

.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul .ant-menu-item:nth-last-child(2)::before {
  content: "Series";
  color: rgb(var(--color-grey));
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 12px !important;
}

.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul .ant-menu-item:nth-last-child(2),
.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul .ant-menu-item:last-child {
  top: -248px;
}

.ant-menu-submenu.ant-menu-submenu-popup.ant-menu.products ul.ant-menu-sub::after {
  content: "";
  display: block;
  width: 30%;
  /* Match left column width */
}

.tankCapacityValue span:not(:last-child)::after {
  content: ' | ';
}

img.img-dual-airflow {
  height: 100%;
}

.techContentGroup .techContent-total1-id0,
.techContentGroup .techContent-total2-id0,
.techContentGroup .techContent-total3-id0,
.techContentGroup .techContent-total5-id0 {
  grid-area: 1 / 1 / 2 / 3;
}

.techContentGroup .techContent-total3-id1,
.techContentGroup .techContent-total5-id1 {
  grid-area: 2 / 1 / 3 / 2;
}

.techContentGroup .techContent-total3-id2,
.techContentGroup .techContent-total5-id2 {
  grid-area: 2 / 2 / 3 / 3;
}

.techContentGroup .techContent-total3-id3,
.techContentGroup .techContent-total5-id3 {
  grid-area: 3 / 1 / 4 / 3;
}

.techContentGroup .techContent-total3-id4,
.techContentGroup .techContent-total5-id4 {
  grid-area: 4 / 1 / 5 / 3;
}

.techContentGroup .techContent-total2-id0 {
  grid-area: 1 / 1 / 2 / 3;
}

.techContentGroup .techContent-total2-id1 {
  grid-area: 2 / 1 / 3 / 3;
}

.techContentGroup .techContent-total5-id3, 
.techContentGroup .techContent-total5-id4 {
  display: flex;
}

.techContentGroup .techContent-total5-id3 {
  flex-direction: row;
}

.techContentGroup .techContent-total5-id4 {
  flex-direction: row-reverse;
}

.techContentGroup .techContent-total5-id3 > div,
.techContentGroup .techContent-total5-id4 > div {
  width: 50%;
  justify-content: center;
}

.techContentGroup .techContent-total5-id3 > div:nth-child(2),
.techContentGroup .techContent-total5-id4 > div:nth-child(2) {
  justify-content: flex-end;
}

.techContentGroup .techContent-total5-id3 > div:nth-child(2) img,
.techContentGroup .techContent-total5-id4 > div:nth-child(2) img {
  height: 80%;
}

footer a {
  line-height: 1;
}

@media (min-width: 768px) {
  @keyframes ticker-kf {
    0% {
      transform: translateX(0);
    }

    100% {
      /* 10rem for each logo x 6 logos total = -60rem */
      transform: translateX(calc(-120rem));
    }
  }

  @keyframes ticker-rev {
    0% {
      transform: translateX(calc(-120rem));
    }

    100% {
      /* 10rem for each logo x 6 logos total = -60rem */
      transform: translateX(0);
    }
  }

  .ant-carousel .mainCarousel.slick-slider .slick-arrow {
    display: none !important;
  }

  .ant-carousel .mainCarousel .slick-dots li button {
    font-size: 18px;
    color: rgb(var(--color-contrast));
    height: auto;
    border: none;
    background-color: transparent;
    opacity: 1;
    /* text-decoration: underline; */
    font-weight: 400;
    border-bottom: 2px solid;
    border-radius: 0;
  }

  .ant-carousel .mainCarousel .slick-dots li button:hover,
  .ant-carousel .mainCarousel .slick-dots li button:focus,
  .ant-carousel .mainCarousel .slick-dots li.slick-active button {
    color: rgb(var(--color-theme)) !important;
  }

  .ant-carousel .mainCarousel .slick-dots li {
    height: auto;
    width: auto;
  }

  .ant-carousel .mainCarousel .slick-dots.slick-dots-bottom {
    bottom: 10%;
    column-gap: 10%;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  #mainContent {
    top: 96px;
  }
}

@media (min-width: 1280px) {
  .ant-menu-submenu-popup {
    width: 0;
    height: 0;
    left: 0 !important;
    /* top: 0 !important; */
    /* background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px); */
    z-index: 30;
  }

  .ant-menu-submenu-popup ul.ant-menu {
    position: relative;
    z-index: 30;
    width: calc(100vw - 112px);
    top: 0;
    left: 56px !important;
    margin-top: -1rem;
    padding-top: 6.75rem !important;
    border-radius: 10px 10px 40px 40px !important;
    background-color: rgb(var(--color-lightGrey)) !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 4rem !important;
    padding-left: calc(12rem + 100px) !important;
    padding-right: calc(12rem + 100px) !important;
  }

  .heroDesktopText {
    padding-left: calc(12rem + 156px) !important;
  }

  .ant-menu-submenu-popup ul.ant-menu li.ant-menu-item {
    margin-inline: 0 !important;
    margin-block: 0 !important;
    padding-inline: 0 !important;
  }

  #mainContent {
    top: -88px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  /* .dropdownMenuContent {
    left: calc(-6rem - 100px) !important;
    top: 1.5rem !important;
  } */

  .ant-menu-submenu-popup ul.ant-menu {
    padding-top: 5rem !important;
    padding-bottom: 4rem !important;
    padding-left: calc(7rem + 100px) !important;
    padding-right: calc(7rem + 100px) !important;
  }

  .heroDesktopText {
    padding-left: calc(7rem + 156px) !important;
  }

  #mainContent {
    top: -64px;
  }
}

@media (min-width: 1536px) {
  .headerMenuText {
    font-size: 1.25rem !important;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .footerGrid {
    grid-template-columns: 28% 18% 18% 18% 18% !important;
  }

  .techSlideModal {
    width: 60% !important;
    top: 100px !important;
  }

  .ikraftSlidesTitle {
    display: none;
  }

  .ikraftDesktopSection>div {
    width: 50%;
    display: inline-block;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .ikraftDesktopTitle {
    padding-right: 0;
  }
}